<h3 class="ui header">{{t "forms.i-i-s-probavosem-регистр-входа-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-probavosem-регистр-входа-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-probavosem-регистр-входа-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-probavosem-регистр-входа-e.комната-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.комната
      displayAttributeName="номер"
      autocomplete=true
      relationName="комната"
      projection="КомнатаL"
      title=(t "forms.i-i-s-probavosem-регистр-входа-e.комната-caption")
      readonly=readonly
      componentName="комнатаLookup"
      class=(if (v-get validationModel "комната" "isInvalid") "error")
      data-test-i-i-s-probavosem-регистр-входа-e-комната=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "комната" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-probavosem-регистр-входа-e.входГостя-caption"}}</label>
    {{flexberry-groupedit
      componentName="входГостяGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.входГостя
      content=model.входГостя
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "входГостя" "isInvalid") "error")
      data-test-i-i-s-probavosem-регистр-входа-e-входГостя=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "входГостя" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-probavosem-регистр-входа-e.входСотрудника-caption"}}</label>
    {{flexberry-groupedit
      componentName="входСотрудникаGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.входСотрудника
      content=model.входСотрудника
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "входСотрудника" "isInvalid") "error")
      data-test-i-i-s-probavosem-регистр-входа-e-входСотрудника=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "входСотрудника" "message")}}
  </div>
</form>
