<h3 class="ui header">{{t "forms.i-i-s-probavosem-регистр-гостей-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-probavosem-регистр-гостей-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-probavosem-регистр-гостей-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.фИО
      class=(if (v-get validationModel "фИО" "isInvalid") "error")
      label=(t "forms.i-i-s-probavosem-регистр-гостей-e.фИО-caption")
      data-test-i-i-s-probavosem-регистр-гостей-e-фИО=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "фИО" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-probavosem-регистр-гостей-e.датаРождения-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датаРождения
      class=(if (v-get validationModel "датаРождения" "isInvalid") "error")
      data-test-i-i-s-probavosem-регистр-гостей-e-датаРождения=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаРождения" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.данныеПаспорта
      class=(if (v-get validationModel "данныеПаспорта" "isInvalid") "error")
      label=(t "forms.i-i-s-probavosem-регистр-гостей-e.данныеПаспорта-caption")
      data-test-i-i-s-probavosem-регистр-гостей-e-данныеПаспорта=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "данныеПаспорта" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.телефон
      class=(if (v-get validationModel "телефон" "isInvalid") "error")
      label=(t "forms.i-i-s-probavosem-регистр-гостей-e.телефон-caption")
      data-test-i-i-s-probavosem-регистр-гостей-e-телефон=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "телефон" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-probavosem-регистр-гостей-e.карта-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.карта
      displayAttributeName="кодКарты"
      autocomplete=true
      relationName="карта"
      projection="КартаL"
      title=(t "forms.i-i-s-probavosem-регистр-гостей-e.карта-caption")
      readonly=readonly
      componentName="картаLookup"
      class=(if (v-get validationModel "карта" "isInvalid") "error")
      data-test-i-i-s-probavosem-регистр-гостей-e-карта=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "карта" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.карта.комната.номер
      class=(if (v-get validationModel.карта.комната "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-probavosem-регистр-гостей-e.карта.комната.номер-caption")
      data-test-i-i-s-probavosem-регистр-гостей-e-карта-комната-номер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.карта.комната "номер" "message")}}
  </div>
</form>
